
main{
    display: block;
    text-align: center;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: bold;
    font-size: 20px;
}

form{
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    opacity: 0.9;
    color: black;
    margin-left: 60px;
    width: 1150px;

    
}

h2{
    text-align: center;
    font-size: 17px;
    opacity: 0.9;
    padding-top: 5px;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

label{
    float: left;
    clear: left;
    display: block;
    width: 100px;
    text-align: right;
    padding-left: 60px;
    padding-right: 50px;
    font-size: 15px;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

input{
    display: block;
    height: 17px;
    margin-bottom: 15px;
}

textarea{
    display: block;
   margin-left: 210px;
}

input[type="submit"]{
    margin-left: 210px;
    width: 80px;
    height: 29px;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 16px;
    background-color: white;
     box-sizing: border-box;
    border: 1px solid gray;
}

.form{
   display: inline-block;
    text-align: left;
    padding-bottom: 0px;
    margin-left: 200px;
}

hr{
    width: 700px;
}

