*{
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 0;
}

body{
    width: 100%;
}

.title{
    font-size: 17px;
    margin-left: 600px;
    padding-bottom: 5px;
}

hr{
    margin-left: 600px;
    
}

.text{
    text-align: left;
    font-size: 15px;
    opacity: 0.9;
    padding-top: 5px;
    padding-left: 300px;
    line-height: 30px;
}

label{
    float: left;
    clear: left;
    display: block;
    width: 100px;
    text-align: right;
    padding-left: 260px;
    padding-right: 50px;
    font-size: 15px;

}

input{
    display: inline-block;
    height: 25px;
    margin-bottom: 30px;
    margin-right: 50px;
    border-radius: 3px;
    border: 1px solid darkgray;
    box-sizing: border-box;
}

textarea{
    display: block;
   margin-left: 210px;
    border-radius: 3px;
}

input[type="submit"]{
    margin-left: 410px;
    width:200px;
    height: 35px;
    font-size: 16px;
    background-color: black;
    color: white;
    box-sizing: border-box;
    border: 1px solid gray;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: dimgray;
    transition: all 1s; }



.form{
    display: block;
    text-align: left;
    padding-bottom: 0px;
    margin-left: 300px;
    opacity: 0.9;
    color: black;
    width: 1200px;

}


hr{
    width: 700px;
}

.address{
    margin-left: 600px;
    font-size: 15px;
    opacity: 0.9;
    line-height: 20px;
  
}

.social{
       margin-left: 600px;
    font-size: 15px;
    opacity: 0.9;
    line-height: 20px; 
    
}

#underline{
    color: gray;
    text-decoration: underline;
  
}



