body{
    width: 100%;
    margin: 0 auto;
}

a:link{
    color: black;
}

.product{
    padding-bottom: 50px;
    width: 400px;
    height: 300px;
    margin:0;
    text-align: center;

}


#main{
    columns: 3;
    margin: 0 auto;
    width: 70%;
    height: auto;
    line-height: 10px;

}

ul{
   list-style-type: none;
}


