h1{
    text-align: left;
    color: dimgray;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding-left: 60px;
    font-size: 25px;
}

a{
    text-decoration: none;
}

nav{
    text-align: right;
    letter-spacing: 0.5px;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.nav{
    padding: 15px;
    color: black;
}

.nav:last-child {
    padding-right: 70px;
}

p{
    color: black;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 20px;
}

.body{
    display: block;
    width: 1200px;
    height: 500px;
}

.photo{
    float: left;
    padding-left: 60px;
    height: 480px;
    padding-top: 20px;
}

.content{
    width: 580px;
    height: 480px;
    float: right;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 20px;
    padding-right: 50px;
    padding-left: 20px;
}


.footer{
    text-align: center;
    padding: 6px;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 12px;
}

.footer:last-child {
    padding-bottom: 50px;
}


.sns{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
   
}

img[alt*="facebook"]{
    padding-right: 8px;
}

img[alt*="instagram"]{
    padding-right: 8px;
}

img[alt*="twitter"]{
    padding-right: 5px;
}

footer{
    background-color: black;
    color: white;
    width: 100%;
    margin-top: 100px;
}
