h1{
    text-align: left;
    color: dimgray;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding-left: 70px;
    font-size: 25px;
}

a{
    text-decoration: none;
}

nav{
    text-align: right;
    letter-spacing: 0.5px;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.nav{
    padding: 15px;
    color: black;
}

.nav:last-child {
    padding-right: 70px;
}

iframe{
    padding-left: 100px;
    width: 1700px;
    height: 800px;
    
}

.footer{
    text-align: center;
    padding: 6px;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 12px;
}

.footer:last-child {
    padding-bottom: 50px;
}


.sns{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}

img[alt*="facebook"]{
    padding-right: 8px;
}

img[alt*="instagram"]{
    padding-right: 8px;
}

img[alt*="twitter"]{
    padding-right: 5px;
}

footer{
    background-color: black;
    color: white;
    width: 100%;
    margin-top: 100px;
    margin-left: 0;
    margin-right: 0;
}

body{
width: 100%;
margin: 0;
}

